extends layout

block content
  h1(style="text-align: center; margin-top: 200px; font: Roboto; color: black; font-size: 100px") Tempestual Auroras
  p.lead(style="text-align: center; color: dimgrey")
    | The Penetration Testers Network.
    br
    | Curate interesting and useful content.